body{
    background-image:url(https://thumbs.gfycat.com/BrownIllegalChafer-size_restricted.gif);
    background-repeat: no-repeat;
    background-color: rgba(12, 11, 11, 0.97);
    background-size: 100% 100%;

}
.mainbox{
    width: 800px;
    height: 550px;
    background-color: rgba(98, 42, 220, 0.64);
    margin: 10px 25% 40px ;
    color: aliceblue;
    position: relative;
}

.title{
    text-align: center;
    color:aliceblue;
}
.innerbox{
    width: 655px;
    height: 395px;
    position: absolute;
    margin: 60px 64px;
}
.locName {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 0px;
    justify-content: space-between;
}
.fa-solid, .fas {
    font-weight: 900;
    font-size: 83px;
    margin-top: 51px;
  }
.location-item{
    display: flex;
    justify-content: space-between;
}
.temperature {
    font-size: 99px;
  }
  input{
    margin: auto;
    display: block;
    size: 80px;
    border-radius: 15px;
  }
  .fa-solid.fa-magnifying-glass-location.iconsearch {
    font-size: 24px;
  }
  button {
    background: #503cc2;
}